.gnb{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 40px;
    background-color: #F9F9F9;
    z-index: 9999;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.nav{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}
.nav li:first-child a{
    font-size: 36px;
    font-weight: 700;
}
.nav a{
    font-size: 18px;
    font-weight: 400;
}